.card{
    background-color: #000000;
    box-shadow: 0px 0px 17px 8px #6BD1FF inset;
}

.imagen{
    border: 5px solid #6BD1FF;
}

.card-body{
    border: 5px solid #6BD1FF;
    text-align: center;
}

.btn{
    width: 45%;
    margin: 5px;
}