.categoria{
    width: 100%;
    margin: 30px;
    box-sizing: border-box;
    font-size: 32px;
}

.categoria h3{
    font-weight: 400;
    color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
}